body {
    margin: 0;
    padding: 0;
    background-color: #071e44;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'arial';
}

#container {
    height: 100%;
    width: 100%;
}


#titre {
    margin-left: 9.5%;
    color: white;
    font-size: 34px;
}

#champ {
    color: white;
    width: 80%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 25px;
    max-width: 500px;
}

#champ::placeholder {
    color: white;
}

#champ:focus {
    outline: none;
}

#submit {
    border: none;
    background-color: #f81e42;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    width: 80%;
    border-radius: 2px;
    max-width: 500px;
}

#Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#error {
    color: white;
    margin-left: 10%;
    display: none;
}

#containerBoite {
    margin-top: 50px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.boite {
    background-color: #fff;
    border-radius: 20px;
    height: 50%;
    width: 350px;
    float: left;
}

.pboite {
    margin-left: 20px;
    color: #41536f;
    font-size: 18px;
}

.pboite sup {
    border-radius: 30%;
    background-color: #fa8c02;
    padding: 2%;
    margin-left: 5px;
    border-radius: 40%;
    color: white;
    font-size: 10px;
}

.degBoite {
    font-weight: bold;
    font-size: 60px;
    position: relative;
    bottom: 50px;
    margin-left: 20px;
}

.degBoite sup {
    font-size: 30px;
}

.ImgWeather {
    position: relative;
    bottom: 110px;
    left: 10px;
    height: 30%;
}

.descBoite {
    color: #41536f;
    position: relative;
    bottom: 120px;
    left: 10px;
}

@media screen and (min-width: 600px) {
    .boite {
        height: 259px;
        width: 250px;
    }
}

@media screen and (min-width: 800px) {
    .boite {
        height: 259px;
        width: 220px;
    }
}